@font-face {
  font-family: w3;
  src: url(../fonts/hiragino-kaku-gothic-pro-w3.otf);
}

@font-face {
  font-family: w6;
  src: url(../fonts/hiragino-kaku-gothic-pro-w6.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url("../img/Cursor/NormalCur.png"), auto;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: w3, "Quicksand", sans-serif;
  background-color: #fafafa;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  @extend .onigiri;
}

ul {
  list-style: none;
}

.w3 {
  font-family: w3;
}

.w6 {
  font-family: w6;
}

.onigiri {
  cursor: url("../img/Cursor/SelectCur.png"), auto;
}

$red: #f45a95;
$blue: #118dec;

.red {
  color: $red !important;
}

.blue {
  color: $blue !important;
}

.right-container {
  min-height: 100vh;
  width: 82vw;
  margin-left: 18vw;
}

.page-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .page-title {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
      height: 5vw;
      width: auto;
      margin: 0 cal(46, w);
    }
    .content {
      text-align: center;
      font-family: w6;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
      h2:nth-child(1) {
        font-size: cal(72, w);
      }
      h2:nth-child(2) {
        font-size: cal(49, w);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .right-container {
    width: 100vw;
    margin: 0;
  }
}
