@import "function";
@import "general";
@import "animation";

.Home {
  background: url("../img/bg/top-bg.jpg") no-repeat;
  background-size: cover;
}

.right-container {
  .title-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      position: relative;
      .title-content {
        width: 80%;
        min-width: 500px;
        .title-top,
        .title-btm {
          margin: 20px auto;
        }
        .title-center {
          display: flex;
          justify-content: space-between;
          img {
            height: 50%;
            margin: auto;
          }
          .title-content-text {
            h1 {
              .ttl1-e {
                font-size: 80px;
                @extend .red;
              }
              .ttl1-c {
                font-size: 76px;
                @extend .red;
              }
            }
            h2 {
              @extend .blue;
              font-size: 53px;
              span {
                font-size: 40px;
              }
            }
          }
        }
      }
      .arrowBtm {
        position: absolute;
        bottom: 20px;
        animation: bounce 2.5s infinite;
        img {
          height: 2.5vw;
          width: 2.5vw;
          min-height: 50px;
          min-width: 50px;
        }
      }
    }
  }

  .right-content-wrapper {
    max-width: 900px;
    margin: auto;
    .self-intro-container,
    .website-intro-container {
      margin: auto;
      max-width: 900px;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 15vh;
      .title {
        margin-bottom: 2.5vw;

        img {
          width: cal(400, w);
        }
      }
      .content {
        max-width: 100%;
        min-height: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 36px 36px;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        background: url(../img/frame1.png) no-repeat;
        background-size: 100% 100%;
        p {
          z-index: 2;
          margin-top: 10px;
          max-width: 98%;
        }
      }
    }
    .website-intro-container {
      margin-top: 200px;
      .content {
        font-family: w6;
        font-size: 20px;
        min-width: 400px;
        min-height: 300px;
        p {
          @extend .blue;
          &:nth-child(3) {
            margin-top: 0;
          }
          span {
            @extend .red;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 1480px) {
  .right-container .right-content-wrapper {
    max-width: unset;
  }

  .right-container {
    .title-container {
      .title {
        .title-content {
          .title-top,
          .title-btm {
            img {
              width: 200px;
              margin: 15px;
            }
          }
          .title-center {
            img {
              height: 115px;
            }
            .title-content-text {
              h1 {
                .ttl1-e {
                  font-size: 55px;
                }
                .ttl1-c {
                  font-size: 50px;
                }
              }
              h2 {
                font-size: 30px;
                span {
                  font-size: 25px;
                }
              }
            }
          }
        }
      }
    }
    .right-content-wrapper {
      .self-intro-container,
      .website-intro-container {
        width: 75%;
      }
    }
  }
}

@media only screen and(max-width: 1024px) {
  .right-container {
    .title-container {
      .title {
        .title-content {
          .title-top,
          .title-btm {
            img {
              width: 150px;
            }
          }
          .title-center {
            img {
              height: 100px;
            }
          }
        }
      }
    }
    .right-content-wrapper {
      .self-intro-container {
        .content {
          p {
            font-size: 12px;
          }
        }
      }
      .website-intro-container {
        .content {
          min-height: unset;
          p {
            display: inline;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .content-wrapper {
    .right-container {
      .title-container {
        .title {
          width: 100%;

          h1.w6 {
            .ttl1-e {
              font-size: 45px;
            }
            .ttl1-c {
              font-size: 41px;
            }
          }
          h2.w6 {
            font-size: 32px;
            span {
              font-size: 25px;
            }
          }
        }
      }
      .right-content-wrapper {
        .self-intro-container,
        .website-intro-container {
          max-width: 80%;
          .title {
            margin-bottom: 60px;
            img {
              width: 330px;
              height: auto;
            }
          }
          .content {
            img {
              width: 80%;
              max-width: none;
              min-height: 300px;
            }
            p {
              font-size: 16px;
            }
          }
        }
        .website-intro-container {
          .content {
            p {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .content-wrapper {
    .right-container {
      .title-container {
        .title {
          .title-content {
            max-width: 298px;
            min-width: fit-content;
            .title-top,
            .title-btm {
              margin: 10px auto;
              img {
                width: 61px;
              }
            }
            .title-center {
              img {
                height: 42px;
                margin: auto 10px;
              }
              .title-content-text {
                h1 {
                  .ttl1-e {
                    font-size: 30px;
                  }
                  .ttl1-c {
                    font-size: 25px;
                  }
                }
                h2 {
                  font-size: 18px;
                  span {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .right-content-wrapper {
        .self-intro-container,
        .website-intro-container {
          max-width: 270px;
          .title {
            margin-bottom: 50px;
            width: 270px;
            padding: 0 10px;
            img {
              width: 270px;
            }
          }
          .content {
            padding: 20px 10px;
            max-width: 296px;
            background: url(../img/frame1m.png) no-repeat;
            background-size: 100% 100%;
            img {
              width: 95%;
            }
          }
        }
        .website-intro-container {
          .content {
            min-width: unset;

            img {
              height: 427px;
            }
            p {
              margin: 30px 17px 0 17px;
            }
            p:nth-child(3) {
              margin-top: 0;
              margin-bottom: 30px;
            }
          }
        }
        .self-intro-container {
          .content {
            p {
              line-height: 2;
            }
          }
        }
      }
    }
  }
}
