@import "animation";
@import "function";

.profile {
  background: url(../img/bg/profile-bg.png) no-repeat;
  background-size: contain;
}

.right-container.profile {
  .right-content-wrapper {
    max-width: 780px;
    margin: auto;
    .page-title {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .page-title-container {
        flex-direction: unset;
        img {
          height: 50px;
          width: 50px;
          margin: 0 10px;
        }
        .content {
          text-align: center;
          h2 {
            font-size: 40px;
            text-shadow: 0 0 10px #fff, 0 0 20px #fff;
            span {
              display: block;
              font-size: 28px;
            }
          }
        }
      }
    }
    .page-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      img {
        width: 200px;
        height: auto;
      }
      ul {
        width: 100%;
        margin-top: 100px;
        li {
          display: flex;
          padding-bottom: 12px;
          line-height: 28px;
          align-items: baseline;
          p {
            text-shadow: 0px 0px 5px #fff;
            &.p-title {
              width: 50%;
              padding-right: 12px;
              font-size: 14px;
              font-family: w6;
              text-align: right;
              color: #118dec;
            }
            &.p-content {
              max-width: calc(50% - 42px);
              padding-left: 5px;
              font-size: 20px;
              color: #333333;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .right-container.profile {
    .right-content-wrapper {
      .page-content {
        ul {
          li {
            p {
              &.p-title {
                font-size: 12px;
              }
              &.p-content {
                font-size: 16px;
                min-width: 120px;
              }
            }
          }
        }
      }
    }
  }
}
