@import "function";
@import "general";

.nav-eng {
  font-size: 1.25vw;
}

.nav-cn {
  font-size: 0.83vw;
}

.navbar {
  position: fixed;
  width: 18vw;
  height: 100vh;
  .navbar-wrapper {
    padding-top: 2.5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    .logo {
      text-align: center;
      img {
        width: cal(200, w);
      }
    }
    ul {
      font-family: w6;
    }
    ul.social {
      display: flex;
      justify-content: space-evenly;
      margin-top: 2vh;
      img {
        width: calc((50 / 1920) * 100vw);
        height: auto;
        &:hover {
          animation: iconRotate 1s;
          @extend .onigiri;
        }
      }
    }
    ul.list {
      li {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 0 10% 0 5%;
        @extend .onigiri;
        &:hover {
          @extend .selected;
          transition: all 0.5s;
        }
        a {
          width: 100%;
          span {
            @extend .onigiri;
          }
        }
      }
    }
  }
}

.footer {
  height: 200px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  max-width: 82vw;
  flex-direction: column;
}

.btt-btn {
  display: none;
}

#nav-btn {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  display: none;
  z-index: 999;
  & img:hover {
    @extend .onigiri;
  }
  img {
    &.Menu {
      display: none;
    }
    &.btt {
      display: none;
    }
  }
}
.navbar.mobile {
  animation: bounceInLeft 0.5s;
  max-width: 100vw;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 99;
  .navbar-wrapper {
    overflow-y: scroll;
    .logo {
      margin-left: 0;
      img {
        height: auto;
        width: 200px;
      }
    }
    ul.list {
      display: grid;
      grid-template-areas:
        "p1 p6"
        "p2 p7"
        "p3 p8"
        "p4 p9"
        "p5 p5";
      margin: 0 50px;
      li {
        padding: 0;
        @for $i from 1 to 9 {
          &:nth-child(#{$i}) {
            grid-area: p + $i;
            @if $i >= 6 {
              margin-left: 30px;
            }
          }
        }
        &:nth-last-child(1) {
          margin-right: 50px;
          margin-left: 30px;
          .nav-eng {
            font-size: 35px;
          }
          .nav-cn {
            font-size: 31px;
          }
        }
      }
    }
  }
  ul.social {
    display: none;
  }
}

.selected {
  color: white;
  background: url("../img/long.png") no-repeat;
  background-size: cover;
  background-position: right;
}

@media only screen and (max-width: 768px) {
  .btt-btn {
    display: block;
  }

  #nav-btn {
    display: block;
    img {
      width: 100px;
      height: auto;
      &.Menu {
        display: block;
      }
    }
  }

  .nav-eng {
    font-size: 47px;
  }

  .nav-cn {
    display: block;
    font-size: 31px;
  }

  .navbar {
    display: none;
  }

  .content-wrapper {
    .navbar.mobile {
      .navbar-wrapper {
        ul.list {
          margin: 0 20px;
        }
      }
    }
  }

  .footer {
    width: 100%;
    max-width: none;
    .btt-btn {
      position: relative;
      top: -45px;
    }
    .content {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .content-wrapper {
    .navbar.mobile {
      .navbar-wrapper {
        .logo {
          img {
            width: 70px;
          }
        }
        ul.list {
          max-width: 275px;
          margin: 5vh auto;
          li {
            span.nav-eng {
              font-size: 20px;
            }
            span.nav-cn {
              font-size: 13px;
            }
            &:nth-last-child(1) {
              margin-right: 0;
              span.nav-eng {
                font-size: 14px;
              }
              span.nav-cn {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    .content {
      font-size: 9px;
      text-align: center;
      max-width: 210px;
    }
  }
  #nav-btn {
    height: 60px;
    width: 60px;
    img {
      width: 60px;
    }
  }
}
